#annotation_dialog {
	height: 300;
	width: 400px;
}

.ui-dialog {
	width: 400px;
}

.ui-widget-header {
    background: none repeat scroll 0 0 #66CC99;
    border: 1px solid #336666;
    color: #FFFFFF;
    font-weight: bold;
}

#video_file {
	float: left;
}

#active_anno {
	float: left;
	width: 320px;
}