@VARSvar R = 6371;var lat = doc.location[0];var lng = doc.location[1];var deltaLat = (queryLat-lat) * Math.PI / 180;var deltaLng = (queryLng-lng) * Math.PI / 180;var compLat1 = lat * Math.PI / 180;var compLat2 = queryLat * Math.PI / 180;var a = Math.sin(deltaLat/2) * Math.sin(deltaLat/2) +Math.sin(deltaLng/2) * Math.sin(deltaLng/2) *Math.cos(compLat1) * Math.cos(compLat2);var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));var d = R * c;if(d <= radius) {res['distance'] = d;}